<html>
  <h1>Bookmarker Extraordinaire</h1>
  <form method="POST" action="/">
    <p><label for="email">Email Address:<label>
          <input type="email" name="email" value="<%= @user.email %>" placeholder="email@email.com" required></p>

    <p><label for="password">Password:<label>
      <input type="password" name="password" required placeholder="super secret password"></p>

    <p><label for="password_confirmation">Confirm Password:<label>
      <input type="password" name="password_confirmation" required placeholder="super secret password, again" size="25"></p>

    <input type="submit" value="Sign Up" style="width: 100px;">
</html>
