<html>
  <h1>Bookmarker Extraordinaire</h1>
  <form method="POST" action="/users">
    <label for="email">Email Address:<label>
      <input type="text" name="email" placeholder="email@email.com">
    <label for="password">Password:<label>
      <input type="password" name="password" placeholder="super secret password">
    <label for="password_conformation">Confirm Password:<label>
      <input type="password" name="password_confirmation" placeholder="super secret password, again">
    <input type="submit" value="Sign Up">
</html>
