<html>
  <ul>
    <% @links.each do |link| %>
      <li>
        <div><b>Title:</b>  <%= link.title %></div>
        <div><b>URL:</b>    <%= link.url %></div>
        <p></p>
      </li>
    <% end %>
  </ul>

  <form action="/links/new" method="GET">
    <input type="submit" value="Create New Bookmark">
  </form>
</html>
