<!DOCTYPE html>
<html>
  <ul id="links">
    <% @links.each do |link| %>
      <li>
        <p>
          <div><b>Title: </b><%= link.title %></div>
          <div><b>URL:   </b><%= link.url %></div>
          <div><b>TAG:   </b><%  link.tags.each { |tag| %><%= tag.tag %><% } %></div>
        </p>
      </li>
    <% end %>
  </ul>

  <form action="/links/new" method="GET">
    <input type="submit" value="Create New Bookmark">
  </form>

  <form action="/links" method="GET">
    <input type="submit" value="Remove Filters">
  </form>
</html>
