<html>
  <h1>New Bookmark</h1>
  <form action="/links" method="POST">
    <label for="url"> URL: </label>
      <input type="text" name="url" size="30" placeholder="www.my_new_bookmark.com">
    <label for="name"> Name: </label>
      <input type="text" name="name" placeholder="My New Bookmark">
    <input type="submit" value="Save Bookmark">
  </form>
</html>
