<html>
  <h1>New Bookmark</h1>
  <form action="/links" method="POST">
    <label for="www"> URL: </label>
    <input type="text" name="url" id="www" size="30" placeholder="www.your_new_bookmark.com">
    <label for="display_name"> Name: </label>
    <input type="text" name="name" id="display_name" placeholder="My New Bookmark">
    <input type="submit" value="Save Bookmark">
  </form>
</html>
